.additional-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-block-start: 10rem;

  .info {
    font-size: var(--fz-500);

    p {
      text-align: right;
      max-width: 30ch;
    }

    span {
      font-weight: 700;
      &.danger {
        color: var(--color-danger);
      }
      &.success {
        color: var(--color-success);
      }
      &.primary {
        color: var(--color-primary);
      }
    }
  }

  .image {
    .circle {
      height: 15rem;
      width: 15rem;
      border-radius: 50%;
      background-color: var(--color-primary);
      position: relative;
      z-index: -1;
      bottom: 6rem;
      right: 4rem;
    }
    .small-circle {
      height: 10rem;
      width: 10rem;
      border-radius: 50%;
      background-color: var(--color-primary-lighter);
      position: relative;
      z-index: -2;
      bottom: 10rem;
      right: 14rem;
    }
    img {
      position: relative;
      z-index: 1;
      margin-block-start: -1000rem;
    }
  }
}
