.filter {
  padding: 1rem;

  .label {
    font-size: var(--fz-500);
    font-weight: 700;
    margin-block-end: 1rem;
  }

  .checkboxGroup {
    font-size: var(--fz-400);
    /*display: flex;*/
    /*flex-wrap: wrap;*/
    gap: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    overflow: auto;
    max-height: 10rem;

    .checkboxItem {
      display: flex;
      align-items: center;

      .checkbox {
        margin-inline-end: 0.25rem;
        cursor: pointer;

        width: 1rem;
        height: 1rem;
        border-radius: 0.25rem;
        border: 1px solid var(--color-primary);
        appearance: none;
        outline: none;

        background-color: var(--color-gray-100);
        transition: 0.2s ease;
        transition-property: opacity, transform;

        &:checked {
          background-color: var(--color-primary);
        }
      }

      .checkboxLabel {
        cursor: pointer;
      }
    }
  }
}
