.page {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 1rem;
  margin-block-end: 1rem;
  align-items: start;

  .filters {
    background-color: var(--color-gray-98);
    border-radius: 1rem;
    box-shadow: var(--shadow-800);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .main {
    .result-header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-end;
    }
    .count {
      margin-block-start: 1rem;
      background-color: var(--color-gray-90);
      padding: 0.5rem;
      border-radius: 1rem;
      opacity: 0.9;
    }
    .result {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 1rem;
      margin-block: 1rem;
    }
  }
}
